{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Locations{% endblock %}

{% block body %}



<div class="example-wrapper">

<h1 class="center mb-3">Liste des locations</h1>
    {% for client in clients %}
        <div class="card m-3 relative box-shadow" style="background-color: var(--car-header)">
            <div class="card-header" ><strong>{{ client.firstname }} {{ client.initial }}.</strong></div>
                {% if 'ROLE_ADM' in app.user.roles %}
                <div class="position-absolute bottom-0 end-0 m-3" style="z-index:200"><a href="{{ path('app_delete', {'id': client.id }) }}" onclick="return confirm('Etes-vous sûr de supprimer ce client ?');"><img class="icon" src="{{ asset('_assets/pictures/bin.svg')}}"></a></div>
                {% endif %}
            <div class="position-absolute end-0 pe-2" style="line-height: 2.5em">
                <img src="{{ asset('_assets/pictures/phone.svg')}}" class="icon">
                {{ client.phoneNumber }} 
                {# <a href ="tel:+33".{{ client.phoneNumber }}."">{{ client.phoneNumber }}</a> #}
                {# <a href ="sms:+33".{{ client.phoneNumber }}."">{{ client.phoneNumber }}</a> #}
            </div>
            <ul class="list-group list-group-flush">
                <li style="background-color:rgb({{client.red}}, {{client.green}}, {{client.blue}})" class="list-group-item">du : {{ client.arrivalDate|format_datetime('relative_long', 'none', locale='fr') }}<br>
                au : {{ client.departureDate|format_datetime('relative_long', 'none', locale='fr') }}</li>
                <li style="background-color:rgb({{client.red}}, {{client.green}}, {{client.blue}})" class="list-group-item">{{ client.adults }} {{ (client.adults > 1) ? 'adultes' : 'adulte' }}
                - {{ client.children }} {{ (client.children > 1) ? 'enfants' : 'enfant'  }}</li>
                {% if client.message is null %}
                {% else %}
                    <li style="background-color:rgb({{client.red}}, {{client.green}}, {{client.blue}}); color: red; text-align: center" class="list-group-item">{{ client.message}}</li>
                {% endif %}
                <li style="background-color:rgb({{client.red}}, {{client.green}}, {{client.blue}})" class="list-group-item">
                    {% if client.cleaned == false %}
                        <div class="flex">
                            <form class="" method="POST" action="{{ path('app_clean', {'id': client.id }) }}">    
                                <input class="btn btn-primary w-100" type="submit" value="Valider le départ">
                            </form>
                        </div>
                    {% else %}
                        <div class="alert alert-success center" role="alert">Départ validé</div>
                    {% endif %}
                </li>
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock %}
