{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Locations{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1 class="center mb-5">Liste des locations</h1>
    {% for client in clients %}
        
        <div class="card mb-3 mx-2 p-1 box-shadow" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4" style="background-color: rgba({{client.red}},{{client.green}},{{client.blue}}, 0.5); border-radius:0.5em;">
                    <img src="/_assets/pictures/silouhette.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title">{{ client.firstname }} {{ client.initial }}.</h2>
                        <hr>
                        <p class="card-text">{{ client.arrivalDate|format_datetime('relative_long', 'none', locale='fr') }}<br>{{ client.departureDate|format_datetime('relative_long', 'none', locale='fr') }}</small></p>
                        <p style="font-size: 20px; margin:0">{{ client.adults }} <img class="family-logo" src="{{ asset('_assets/pictures/adult.png') }}"> {{ client.children }} <img class="family-logo" src="{{ asset('_assets/pictures/children.png') }}"></p>
                        <p class="card-text align-end"><img src="{{ asset('_assets/pictures/phone.svg')}}" class="icon">
                                {{ client.phoneNumber }} </p>
                        {% if client.message is null %}
                        {% else %}
                            <p class="card-text">
                                <li style="background-color:rgb({{client.red}}, {{client.green}}, {{client.blue}}); color: red; text-align: center" class="list-group-item">{{ client.message}}</li>
                            </p>
                        {% endif %}
                        {% if client.cleaned == false %}
                            <div class="flex">
                                <form class="" method="POST" action="{{ path('app_clean', {'id': client.id }) }}">    
                                    <input class="btn btn-primary w-100" type="submit" value="Valider le départ">
                                </form>
                            </div>
                        {% else %}
                            <div class="alert alert-success center" role="alert">Départ validé</div>
                        {% endif %}
                        {% if 'ROLE_ADM' in app.user.roles %}
                            <div class="position-absolute bottom-0 end-0 m-4" style="z-index:200"><a href="{{ path('app_delete', {'id': client.id }) }}" onclick="return confirm('Etes-vous sûr de supprimer ce client ?');"><img class="icon" src="{{ asset('_assets/pictures/bin.svg')}}"></a></div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
