{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Corniche de la plage</h1>
    <h3>Planning des locations</h3>

    {% for client in clients %}
        <div class="card my-2" style="">
            <div class="card-header">{{ client.firstname }} {{ client.initial }}.</div>
            <div class="card-header">{{ client.phoneNumber }} </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Du {{ client.arrivalDate|date("d/m/Y à H:m") }} au {{ client.departureDate|date("d/m/Y à H:m") }}</li>
                <li class="list-group-item">
                    <p class="d-inline-flex gap-1">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">Personnes à loger</a>
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                    {{ client.adults }} adulte(s) - {{ client.children }} enfant(s)
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
       
    {% endfor %}
</div>
{% endblock %}
