
<div style="
    color: darkgrey;
    font-family: font-family: system-ui;"> 
    <h2>Du nouveau dans l'appartement !</h2>
    <hr>
    <h3>{{ title }}</h3> 
    <p>{{ beginning }} <strong>{{ client.firstname}} {{ client.initial }}.</strong> ( tel : {{ client.phoneNumber }}) {{ middle }} du <strong>{{ client.arrivalDate|date('d/m/Y', "Europe/Paris")}}</strong> au
    <strong>{{ client.departureDate|date('d/m/Y', "Europe/Paris") }}  </strong> {{ end }} </p>
    <p>( Accéder au calendrier des locations ici : {{ site }})</p>
</div>